/* css */

/* selector types */
/* global */
*{
    border: 0.5px dotted cyan;
}
/* name/type */
h1{
    background-color: rgb(184, 172, 172);
}
/* class */
.internal{
    background-color: aquamarine;
}

/* id */
#external{
    color:red;
}

/* descendant */
div h2{
    text-decoration: underline;
}

/* child >*/